#u209-4
{
	font-family: josefin-slab-n7, serif;
}

#u219-4
{
	font-family: josefin-slab-n7, serif;
}

#u641-4
{
	font-family: josefin-slab-n6, serif;
}

#u514-4
{
	font-family: josefin-slab-n6, serif;
}

#u627-4
{
	font-family: josefin-slab-n6, serif;
}

#u225-4
{
	font-family: josefin-slab-n7, serif;
}

#u545-4
{
	font-family: josefin-slab-n6, serif;
}

#u554-4
{
	font-family: josefin-slab-n6, serif;
}

#u561-4
{
	font-family: josefin-slab-n6, serif;
}

#u571-4
{
	font-family: josefin-slab-n6, serif;
}

#u576-4
{
	font-family: josefin-slab-n6, serif;
}

#u583-4
{
	font-family: josefin-slab-n6, serif;
}

#u232-4
{
	font-family: josefin-slab-n7, serif;
}

#u590-4
{
	font-family: josefin-slab-n6, serif;
}

#u601-4
{
	font-family: josefin-slab-n6, serif;
}

#u608-4
{
	font-family: josefin-slab-n6, serif;
}

#u617-4
{
	font-family: josefin-slab-n6, serif;
}

#u622-4
{
	font-family: josefin-slab-n6, serif;
}

#u239-4
{
	font-family: josefin-slab-n7, serif;
}

#u246-4
{
	font-family: josefin-slab-n7, serif;
}

#u287-4
{
	font-family: josefin-slab-n7, serif;
}

#u260-4
{
	font-family: josefin-slab-n7, serif;
}

#u1010-4,#u1020-4,#u1021-4,#u1023-4,#u1022-4,#u1024-4,#u1067-4,#u1065-4,#u1029-4,#u1028-4,#u1027-4,#u1026-4,#u1025-4,#u1062-4,#u1066-4,#u1069-2,#u1069-4,#u1069-5,#u1069-7,#u1069-8,#u1069-10,#u1069-12
{
	font-family: droid-serif-n4, serif;
}

#u981-4,#u1008-4,#u985-4,#u986-4,#u1009-4,#u984-4,#u983-4
{
	font-family: josefin-slab-n7, serif;
}

