#u209-4
{
	font-family: josefin-slab-n7, serif;
}

#u219-4
{
	font-family: josefin-slab-n7, serif;
}

#u641-4
{
	font-family: josefin-slab-n6, serif;
}

#u514-4
{
	font-family: josefin-slab-n6, serif;
}

#u627-4
{
	font-family: josefin-slab-n6, serif;
}

#u225-4
{
	font-family: josefin-slab-n7, serif;
}

#u545-4
{
	font-family: josefin-slab-n6, serif;
}

#u554-4
{
	font-family: josefin-slab-n6, serif;
}

#u561-4
{
	font-family: josefin-slab-n6, serif;
}

#u571-4
{
	font-family: josefin-slab-n6, serif;
}

#u576-4
{
	font-family: josefin-slab-n6, serif;
}

#u583-4
{
	font-family: josefin-slab-n6, serif;
}

#u232-4
{
	font-family: josefin-slab-n7, serif;
}

#u590-4
{
	font-family: josefin-slab-n6, serif;
}

#u601-4
{
	font-family: josefin-slab-n6, serif;
}

#u608-4
{
	font-family: josefin-slab-n6, serif;
}

#u617-4
{
	font-family: josefin-slab-n6, serif;
}

#u622-4
{
	font-family: josefin-slab-n6, serif;
}

#u239-4
{
	font-family: josefin-slab-n7, serif;
}

#u246-4
{
	font-family: josefin-slab-n7, serif;
}

#u287-4
{
	font-family: josefin-slab-n7, serif;
}

#u260-4
{
	font-family: josefin-slab-n7, serif;
}

