#u1010-4,#u1029-4,#u1020-4,#u1028-4,#u1021-4,#u1027-4,#u1023-4,#u1026-4,#u1022-4,#u1025-4,#u1024-4,#u1062-4,#u1067-4,#u1066-4,#u1065-4,#u1069-2,#u1069-4,#u1069-5,#u1069-7,#u1069-8,#u1069-10,#u1069-12,#u2552-4
{
	font-family: droid-serif-n4, serif;
}

#u2398-5,#u2398-6,#u2398-8,#u2398-9,#u2398-11,#u2398-13,#u2398-15,#u2398-17,#u2398-19,#u2398-20,#u2398-22,#u2398-24,#u2398-25,#u2398-27,#u2409-4
{
	font-family: droid-serif-n4, serif;
}

#u2410-4
{
	font-family: droid-serif-n4, serif;
}

#u2402-4
{
	font-family: droid-serif-n4, serif;
}

#u2403-4
{
	font-family: droid-serif-n4, serif;
}

#u2414-4
{
	font-family: droid-serif-n4, serif;
}

#u2412-4
{
	font-family: droid-serif-n4, serif;
}

#widgetu2407_input,#widgetu2407_prompt,#widgetu2401_input,#widgetu2401_prompt,#widgetu2411_input,#widgetu2411_prompt
{
	font-family: droid-serif, serif;
}

#u2419-4
{
	font-family: droid-serif-n4, serif;
}

#u2418,#u2423-5
{
	font-family: droid-serif-n4, serif;
}

