#u209-4
{
	font-family: josefin-slab-n7, serif;
}

#u219-4
{
	font-family: josefin-slab-n7, serif;
}

#u2248-4
{
	font-family: josefin-slab-n4, serif;
}

#u2296-4
{
	font-family: josefin-slab-n4, serif;
}

#u2336-4
{
	font-family: josefin-slab-n4, serif;
}

#u225-4
{
	font-family: josefin-slab-n7, serif;
}

#u545-4
{
	font-family: josefin-slab-n6, serif;
}

#u1427-4
{
	font-family: josefin-slab-n6, serif;
}

#u1489-4
{
	font-family: josefin-slab-n6, serif;
}

#u1515-4
{
	font-family: josefin-slab-n6, serif;
}

#u1546-4
{
	font-family: josefin-slab-n6, serif;
}

#u1609-4
{
	font-family: josefin-slab-n6, serif;
}

#u232-4
{
	font-family: josefin-slab-n7, serif;
}

#u1921-4
{
	font-family: josefin-slab-n6, serif;
}

#u1994-4
{
	font-family: josefin-slab-n6, serif;
}

#u2070-4
{
	font-family: josefin-slab-n6, serif;
}

#u2042-4
{
	font-family: josefin-slab-n6, serif;
}

#u1826-4
{
	font-family: josefin-slab-n6, serif;
}

#u1719-4
{
	font-family: josefin-slab-n7, serif;
}

#u246-4
{
	font-family: josefin-slab-n7, serif;
}

#u287-4
{
	font-family: josefin-slab-n7, serif;
}

#u260-4
{
	font-family: josefin-slab-n7, serif;
}

#u981-4,#u985-4,#u986-4,#u984-4,#u983-4,#u1008-4,#u1009-4
{
	font-family: josefin-slab-n7, serif;
}

#u1010-4,#u1020-4,#u1021-4,#u1023-4,#u1022-4,#u1024-4,#u1029-4,#u1028-4,#u1027-4,#u1026-4,#u1025-4,#u1062-4,#u1069-2,#u1069-4,#u1069-5,#u1069-7,#u1069-8,#u1069-10,#u1069-12,#u1067-4,#u1066-4,#u1065-4
{
	font-family: droid-serif-n4, serif;
}

#u1537-4
{
	font-family: josefin-slab-n7, serif;
}

#u1538-2,#u1538-3,#u1538-5,#u1538-6,#u1538-8,#u1538-9,#u1538-11,#u1538-12,#u1538-14,#u1538-15,#u1538-17,#u1538-18,#u1538-20,#u1538-21,#u1538-23,#u1538-24,#u1538-26,#u1538-27,#u1538-29,#u1538-30,#u1538-32,#u1538-33,#u1538-35,#u1538-36,#u1538-38,#u1538-39,#u1538-41,#u1538-42,#u1538-44,#u1538-45,#u1538-47,#u1538-48,#u1538-50,#u1538-51,#u1538-53
{
	font-family: droid-serif-n4, serif;
}

