.version.publications /* version checker */
{
	color: #000013;
	background-color: #2E77CB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 105px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 477px 20px 239px;
}

#u668
{
	z-index: 144;
	width: 615px;
	top: 46px;
	left: 50%;
	margin-left: -460px;
}

#u668_img
{
	padding-right: 106px;
}

#u677
{
	z-index: 146;
	width: 264px;
	top: 67px;
	left: 50%;
	margin-left: 197px;
}

#menuu205
{
	z-index: 5;
	width: 920px;
	top: 142px;
	left: 50%;
	margin-left: -460px;
}

#u206
{
	width: 71px;
	min-height: 41px;
	margin-right: -10000px;
}

#u207
{
	width: 71px;
	padding-bottom: 22px;
}

#u207:hover
{
	margin: 0px;
}

#u207:active
{
	margin: 0px;
}

#u209-4
{
	width: 43px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 14px;
}

#u207:hover #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u207:active #u209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u213
{
	width: 140px;
	min-height: 41px;
	margin-right: -10000px;
	left: 73px;
}

#u216
{
	width: 140px;
	padding-bottom: 22px;
}

#u207.MuseMenuActive,#u216:hover
{
	margin: 0px;
}

#u216:active
{
	margin: 0px;
}

#u219-4
{
	width: 112px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 14px;
}

#u207.MuseMenuActive #u209-4,#u216:hover #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u216:active #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u214
{
	width: 166px;
	top: 41px;
}

#u2246
{
	width: 164px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2246:hover
{
	width: 164px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2248-4
{
	width: 67px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 44px;
}

#u2246:hover #u2248-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2294
{
	width: 164px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2246.MuseMenuActive,#u2294:hover
{
	width: 164px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2296-4
{
	width: 121px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u2246.MuseMenuActive #u2248-4,#u2294:hover #u2296-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u215,#u2245,#u2293,#u2330
{
	width: 166px;
}

#u2333
{
	width: 164px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2294.MuseMenuActive,#u2333:hover
{
	width: 164px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2333.MuseMenuActive
{
	width: 164px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2336-4
{
	width: 156px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2294.MuseMenuActive #u2296-4,#u2333:hover #u2336-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2333.MuseMenuActive #u2336-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u221
{
	width: 99px;
	min-height: 41px;
	margin-right: -10000px;
	left: 215px;
}

#u222
{
	width: 99px;
	padding-bottom: 22px;
}

#u216.MuseMenuActive,#u222:hover
{
	margin: 0px;
}

#u222:active
{
	margin: 0px;
}

#u225-4
{
	width: 71px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 14px;
}

#u216.MuseMenuActive #u219-4,#u222:hover #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u222:active #u225-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u226
{
	width: 223px;
	top: 41px;
}

#u543
{
	width: 221px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u543:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u545-4
{
	width: 111px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 51px;
}

#u543:hover #u545-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1424
{
	width: 221px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u543.MuseMenuActive,#u1424:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1427-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 50px;
}

#u543.MuseMenuActive #u545-4,#u1424:hover #u1427-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1486
{
	width: 221px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1424.MuseMenuActive,#u1486:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1489-4
{
	width: 120px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 46px;
}

#u1424.MuseMenuActive #u1427-4,#u1486:hover #u1489-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1514
{
	width: 221px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1486.MuseMenuActive,#u1514:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1515-4
{
	width: 114px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 49px;
}

#u1486.MuseMenuActive #u1489-4,#u1514:hover #u1515-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1545
{
	width: 221px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1514.MuseMenuActive,#u1545:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1546-4
{
	width: 69px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 72px;
}

#u1514.MuseMenuActive #u1515-4,#u1545:hover #u1546-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u227,#u542,#u1423,#u1483,#u1513,#u1542,#u1604
{
	width: 223px;
}

#u1607
{
	width: 221px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1545.MuseMenuActive,#u1607:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1607.MuseMenuActive
{
	width: 221px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1609-4
{
	width: 83px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 65px;
}

#u1545.MuseMenuActive #u1546-4,#u1607:hover #u1609-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 129px;
	min-height: 41px;
	margin-right: -10000px;
	left: 316px;
}

#u231
{
	width: 129px;
	padding-bottom: 22px;
}

#u222.MuseMenuActive,#u231:hover
{
	margin: 0px;
}

#u231:active
{
	margin: 0px;
}

#u232-4
{
	width: 101px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 14px;
}

#u222.MuseMenuActive #u225-4,#u231:hover #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u231:active #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u229
{
	width: 252px;
	top: 41px;
}

#u1918
{
	width: 250px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1918:hover
{
	width: 250px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1921-4
{
	width: 163px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 39px;
}

#u1607.MuseMenuActive #u1609-4,#u1918:hover #u1921-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1993
{
	width: 250px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1918.MuseMenuActive,#u1993:hover
{
	width: 250px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1994-4
{
	width: 106px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 68px;
}

#u1918.MuseMenuActive #u1921-4,#u1993:hover #u1994-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2069
{
	width: 250px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1993.MuseMenuActive,#u2069:hover
{
	width: 250px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2070-4
{
	width: 104px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 69px;
}

#u1993.MuseMenuActive #u1994-4,#u2069:hover #u2070-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2041
{
	width: 250px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2069.MuseMenuActive,#u2041:hover
{
	width: 250px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2042-4
{
	width: 152px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 45px;
}

#u2069.MuseMenuActive #u2070-4,#u2041:hover #u2042-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u230,#u1915,#u1990,#u2066,#u2038,#u1821
{
	width: 252px;
}

#u1824
{
	width: 250px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u2041.MuseMenuActive,#u1824:hover
{
	width: 250px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1824.MuseMenuActive
{
	width: 250px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1826-4
{
	width: 127px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 57px;
}

#u2041.MuseMenuActive #u2042-4,#u1824:hover #u1826-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1824.MuseMenuActive #u1826-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1716
{
	width: 190px;
	min-height: 41px;
	margin-right: -10000px;
	left: 447px;
}

#u1717
{
	width: 190px;
	padding-bottom: 22px;
}

#u231.MuseMenuActive,#u1717:hover
{
	margin: 0px;
}

#u1717:active
{
	margin: 0px;
}

#u1719-4
{
	width: 163px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 13px;
}

#u231.MuseMenuActive #u232-4,#u1717:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1717:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u242
{
	width: 114px;
	min-height: 41px;
	margin-right: -10000px;
	left: 639px;
}

#u245
{
	width: 114px;
	padding-bottom: 22px;
}

#u1717.MuseMenuActive,#u245:hover
{
	margin: 0px;
}

#u245:active
{
	margin: 0px;
}

#u246-4
{
	width: 87px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 13px;
}

#u1717.MuseMenuActive #u1719-4,#u245:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u245:active #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u284
{
	width: 59px;
	min-height: 41px;
	margin-right: -10000px;
	left: 755px;
}

#u285
{
	width: 59px;
	padding-bottom: 22px;
}

#u245.MuseMenuActive,#u285:hover
{
	margin: 0px;
}

#u285:active
{
	margin: 0px;
}

#u287-4
{
	width: 32px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 13px;
}

#u245.MuseMenuActive #u246-4,#u285:hover #u287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u285:active #u287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u256
{
	width: 104px;
	min-height: 41px;
	margin-right: -10000px;
	left: 816px;
}

#u257
{
	width: 104px;
	padding-bottom: 22px;
}

#u285.MuseMenuActive,#u257:hover
{
	margin: 0px;
}

#u257:active
{
	margin: 0px;
}

#u257.MuseMenuActive
{
	margin: 0px;
}

#u260-4
{
	width: 77px;
	min-height: 19px;
	margin-right: -10000px;
	top: 11px;
	left: 13px;
}

#u285.MuseMenuActive #u287-4,#u257:hover #u260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u257:active #u260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u257.MuseMenuActive #u260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u975
{
	z-index: 2;
	width: 920px;
	top: 187px;
	left: 50%;
	margin-left: -461px;
}

#u981-4
{
	z-index: 148;
	width: 168px;
	min-height: 26px;
	top: 474px;
	left: 50%;
	margin-left: -460px;
}

#u985-4
{
	z-index: 160;
	width: 168px;
	min-height: 26px;
	top: 474px;
	left: 50%;
	margin-left: -272px;
}

#u986-4
{
	z-index: 164;
	width: 168px;
	min-height: 26px;
	top: 474px;
	left: 50%;
	margin-left: -84px;
}

#u984-4
{
	z-index: 156;
	width: 168px;
	min-height: 26px;
	top: 474px;
	left: 50%;
	margin-left: 104px;
}

#u983-4
{
	z-index: 152;
	width: 168px;
	min-height: 26px;
	top: 474px;
	left: 50%;
	margin-left: 292px;
}

#u1707-7
{
	z-index: 252;
	width: 214px;
	min-height: 93px;
	background-color: transparent;
	margin-left: 15px;
	position: relative;
}

#u1707-2,#u1707-3
{
	font-size: 25px;
	line-height: 30px;
	font-family: josefin-slab, serif;
	font-weight: 700;
}

#u1707-5
{
	font-size: 15px;
	line-height: 18px;
	font-family: droid-serif, serif;
	font-weight: 400;
}

#pu1078
{
	width: 0.01px;
	padding-bottom: 31px;
	margin-top: -19px;
}

#u1078
{
	z-index: 4;
	width: 919px;
	height: 23px;
	bottom: 236px;
	left: 50%;
	margin-left: -460px;
}

#u1008-4
{
	z-index: 168;
	width: 114px;
	min-height: 24px;
	bottom: 230px;
	left: 50%;
	margin-left: -446px;
}

#u1009-4
{
	z-index: 172;
	width: 239px;
	min-height: 24px;
	bottom: 230px;
	left: 50%;
	margin-left: 77px;
}

#u1010-4
{
	z-index: 176;
	width: 84px;
	min-height: 24px;
	bottom: 206px;
	left: 50%;
	margin-left: -437px;
}

#u1029-4
{
	z-index: 216;
	width: 114px;
	min-height: 20px;
	bottom: 209px;
	left: 50%;
	margin-left: -269px;
}

#u1069-15
{
	z-index: 236;
	width: 507px;
	min-height: 155px;
	bottom: 78px;
	left: 50%;
	margin-left: -47px;
}

#u1020-4
{
	z-index: 180;
	width: 114px;
	min-height: 20px;
	bottom: 189px;
	left: 50%;
	margin-left: -437px;
}

#u1028-4
{
	z-index: 212;
	width: 114px;
	min-height: 20px;
	bottom: 188px;
	left: 50%;
	margin-left: -269px;
}

#u1021-4
{
	z-index: 184;
	width: 114px;
	min-height: 20px;
	bottom: 168px;
	left: 50%;
	margin-left: -437px;
}

#u1027-4
{
	z-index: 208;
	width: 181px;
	min-height: 20px;
	bottom: 167px;
	left: 50%;
	margin-left: -269px;
}

#u1023-4
{
	z-index: 192;
	width: 114px;
	min-height: 20px;
	bottom: 147px;
	left: 50%;
	margin-left: -437px;
}

#u1026-4
{
	z-index: 204;
	width: 114px;
	min-height: 20px;
	bottom: 146px;
	left: 50%;
	margin-left: -269px;
}

#u1022-4
{
	z-index: 188;
	width: 143px;
	min-height: 20px;
	bottom: 126px;
	left: 50%;
	margin-left: -437px;
}

#u1025-4
{
	z-index: 200;
	width: 158px;
	min-height: 20px;
	bottom: 126px;
	left: 50%;
	margin-left: -269px;
}

#u1024-4
{
	z-index: 196;
	width: 114px;
	min-height: 20px;
	bottom: 107px;
	left: 50%;
	margin-left: -437px;
}

#u1062-4
{
	z-index: 220;
	width: 147px;
	min-height: 20px;
	bottom: 106px;
	left: 50%;
	margin-left: -269px;
}

#u1067-4
{
	z-index: 232;
	width: 114px;
	min-height: 20px;
	bottom: 88px;
	left: 50%;
	margin-left: -437px;
}

#u1066-4
{
	z-index: 228;
	width: 128px;
	min-height: 20px;
	bottom: 85px;
	left: 50%;
	margin-left: -269px;
}

#u1065-4
{
	z-index: 224;
	width: 181px;
	min-height: 20px;
	bottom: 68px;
	left: 50%;
	margin-left: -437px;
}

#u2425
{
	z-index: 251;
	width: 272px;
	min-height: 39px;
	bottom: 46px;
	left: 50%;
	margin-left: 166px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 45px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

